<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/"><h4>Back</h4></a>
  <h1>Item Detail: <%= item.name %> </h1>
  <div>
    <p>Item name: <%= item.name%> </p>
    <p>Item price: <%= item.price%> </p>
    <p>Item category: <%= item.category%> </p>
  </div>
</body>
</html>